

# ModelSim
*.wlf
*.do
*.history
*.tmp
*.o
*.vho
*.cf
*.exe
*.trn
modelsim.ini
**/work/
/work/
# OS files
.DS_Store
Thumbs.db
desktop.ini
**/*.bak
*.bak

# other
Projects List.gdoc
Prompt.txt
Task.txt
